{% extends 'base.html.twig' %}

{% block title %}Hello ServeurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

   <CENTER>
    <u> <h1>
       Page de recupération
    </h1>  </u>

  </CENTER>
    <CENTER>
   <div  class="example-wrapper">
    
    <h3>le login est {{login}} </h3> 

    <h3> le password est {{password}} </h3> 

    <h3> {{text}} </h3> 

      </CENTER>
  
  
{% endblock %}
